html, body {
  height: 100%;
}
header{
	  position: absolute;
    left: 50px;
	  top: 0px;
    width: 200px;
    height: 200px;
    font-size: 20px;
}
p{
font-size: 40px;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}
a{
  color: silver;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
